
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link{{ 'backoffice_index' in currentRoute ? ' active':'' }}" href="{{path('backoffice_index')}}">
            <span data-feather="home"></span>
            Accueil
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{ 'backoffice_user' in currentRoute ? ' active':'' }}" href="{{path('backoffice_user_index')}}">
            <span data-feather="file"></span>
            Gérer les utilisateurs
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{ 'backoffice_workout' in currentRoute ? ' active':'' }}" href="{{path('backoffice_workout_index')}}">
            <span data-feather="file"></span>
            Gérer les entraînements
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{ 'backoffice_category' in currentRoute ? ' active':'' }}" href="{{path('backoffice_category_index')}}">
            <span data-feather="file"></span>
            Gérer les catégories
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{ 'backoffice_sport' in currentRoute ? ' active':'' }}" href="{{path('backoffice_sport_index')}}">
            <span data-feather="file"></span>
            Gérer les sports
        </a>
    </li>
    <a href="{{ path('home') }}">Retour au côté front</a>
</ul>
