{% extends 'backoffice/layout.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Liste des catégories</h1>
<p>
            {% for category in categories %}
                <li>
                    <a href="{{ path('backoffice_category_show', {id:category.id}) }}">
                        {{ category.name }}
                </li>
                <img src="{{ category.picture }}" width="100">
            {% endfor %}
            </p>
        <p>
            <a href="{{ path('backoffice_category_add') }}">Ajouter</a>
        </p>
            <a href="{{ path('backoffice_index') }}">Retour à l'accueil</a>
</div>

{% endblock %}