{% extends 'backoffice/layout.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block content %}
    <h1>Catégorie</h1>

        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_show.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category_show.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category_show.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ category_show.picture }}</td>
            </tr>

        </tbody>
    </table>

<p>
    <a href="{{ path('backoffice_category_index') }}">Retour à la liste</a>
</p>
<p>
    <a href="{{ path('backoffice_category_edit', {id:category_show.id}) }}">Modifier</a>
</p>
    {{ include('backoffice/category/_delete_form.html.twig') }}
{% endblock %}